In [6]:
!pip3 install sklearn

Collecting sklearn
  Cache entry deserialization failed, entry ignored
Requirement already satisfied: scikit-learn in /usr/lib/python3/dist-packages (from sklearn) (0.20.2)
Installing collected packages: sklearn
Successfully installed sklearn-0.0

#### Use cases and scikit-learn
----
* machine learning is an algorithm that can learn from data
* use ex: spam hunting; image and object representation; 
* 4 main categories: _Classification_ ID a thing, _Regression_ predict a thing, _Clustering_ finds patterns in the data itself; _Rule-Extraction_ Recommendations
* Classifiers will take in large amounts of input and train off of the corpus; outputs the classifier; input info goes in, result pops out
* _Feature Vector_ thing fed into the model; 
* _Label_ is the model output
* _Representation_ based systems look for their own features; Deep Learning models like neural networks;

#### Supervised vs. Unsupervised Learning Models
-----
* Supervised learning models are pre_labeled to help correct the model
* Unsupervised learning models are non-labled models; only have the data; structures are found; no _Y_ variables; no corpus; no training phase

* training phase 
* loss functions will help make the model better
* Prediction phase

* _X_ Data points are lists or vector of these features
* _Y_ labels are also called labels; these are what we are trying to predict. 

* Linear Regression is the most common used; we find the function that links all the features; y = mx + b

* Clustering is a very popular unsupervised learning technique

#### Continuos Data vs. Categorical Data
----
* Continuous -> infiitue set of values -> needs basic high school maths
* Categorical -> finite set of variables; just two variables _binary variables_

#### Mean
----
* the mean is the average of the points; it's a single number representing all the points and dividing by the total number

#### Variation
----
* Do the numbers jump around; and by how much? 
* Calculate the mean deviation of each data point
* Squares mean deviation just squares that result
* variance is the sum of the squared distance of the points from the mean, divided by the number of X; _Bessons's_ correction is `n-1`

#### Standard Deviations
----
* Square Root of variance


#### Range
----
* Range ignores the variance; it's just the max-min

#### Standardizing Data
-----
* subtract the mean and divide by the standard deviation of the numbers

* Standardizing data will cause data to have a mean of 0 and a variance of 1; 

* It prevents high variance data series from dominating the Models;
* PCA, Lasso, Ridge Regression

# Working with Categorical and Numeric Data
##### Using Label Encoding and One Hot Encoding for categorical data; Apply scaling to numeric data

In [1]:
import pandas as pd

### Shift enter or Run key above to run cells

In [2]:
print(pd.__version__)

0.24.1

### Sample data representing student data and exam scores
Download link: http://roycekimmons.com/system/generate_data.php?dataset=exams&n=100

In [ ]:
help(pd.read_csv)

#### Read in the data From the local folder
-----
Do we need to change any of the data?
Is everything the same?
Standardize it!

Lets get the mean

In [3]:
exam_data = pd.read_csv('../data/exams.csv', quotechar='"')
exam_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group E,associate's degree,standard,completed,79,75,81
1,female,group C,associate's degree,free/reduced,none,56,65,64
2,male,group D,bachelor's degree,standard,none,86,68,74
3,female,group A,bachelor's degree,standard,none,68,78,76
4,female,group D,high school,free/reduced,none,49,68,61
5,male,group D,some high school,free/reduced,none,49,47,41
6,male,group C,some high school,standard,none,87,78,70
7,male,group C,associate's degree,standard,none,74,80,76
8,female,group B,some high school,standard,none,50,44,48
9,male,group A,some college,standard,none,40,23,23
10,female,group D,some high school,standard,completed,68,75,77
11,female,group B,associate's degree,standard,none,82,87,87
12,male,group A,some high school,standard,none,83,79,76
13,female,group B,high school,standard,completed,56,66,74
14,male,group C,high school,standard,none,62,56,53
15,female,group B,master's degree,standard,none,57,68,71
16,male,group B,high school,standard,none,77,59,54
17,female,group C,some college,free/reduced,completed,49,62,56
18,female,group B,associate's degree,standard,completed,59,67,71
19,male,group A,some college,free/reduced,none,63,52,52
20,male,group B,some college,standard,none,64,61,61
21,female,group C,master's degree,free/reduced,none,54,64,59
22,male,group C,high school,standard,completed,88,81,83
23,male,group C,associate's degree,standard,none,62,55,52
24,male,group D,bachelor's degree,free/reduced,none,52,66,56
25,male,group B,high school,standard,completed,91,86,82
26,female,group C,high school,free/reduced,none,33,42,41
27,female,group C,associate's degree,free/reduced,none,66,76,73
28,female,group B,some high school,standard,none,33,47,39
29,male,group E,some college,free/reduced,completed,74,73,76
...,...,...,...,...,...,...,...,...
70,female,group E,bachelor's degree,free/reduced,completed,68,80,79
71,male,group C,some high school,free/reduced,none,53,51,46
72,female,group C,some high school,standard,completed,56,56,54
73,male,group C,high school,free/reduced,completed,63,61,55
74,male,group D,some high school,standard,completed,60,63,57
75,male,group D,master's degree,standard,completed,70,69,73
76,male,group B,some college,standard,none,64,64,60
77,female,group C,associate's degree,free/reduced,completed,52,73,68
78,female,group C,associate's degree,standard,completed,61,76,79
79,female,group B,high school,standard,completed,63,70,78
80,male,group D,some college,standard,none,74,72,74
81,male,group C,bachelor's degree,standard,completed,83,83,86
82,male,group C,master's degree,free/reduced,none,67,61,56
83,male,group B,high school,free/reduced,completed,47,58,53
84,female,group C,master's degree,free/reduced,none,62,63,72
85,male,group C,associate's degree,standard,none,58,56,64
86,female,group B,some college,standard,completed,60,75,74
87,male,group B,high school,free/reduced,completed,64,58,64
88,female,group D,some college,standard,none,78,82,82
89,female,group C,high school,free/reduced,completed,57,65,66
90,male,group C,high school,standard,completed,97,91,96
91,male,group C,high school,free/reduced,completed,72,68,66
92,female,group D,some college,standard,none,71,77,76
93,female,group A,master's degree,free/reduced,completed,44,57,62
94,female,group B,some college,standard,none,69,89,83
95,female,group A,master's degree,free/reduced,completed,59,76,80
96,female,group D,high school,free/reduced,none,60,62,61
97,female,group C,some college,standard,none,69,82,83
98,male,group D,some high school,standard,none,89,83,79
99,female,group A,master's degree,free/reduced,completed,65,88,88

#### Access columns in Pandas
-----
* Access the column with the syntax `dataframe.column` or `dataframe['column']`
* you can then assign the individual mean to a variable

#### Check out average score for each exam

In [19]:
math_average = exam_data['math score'].mean()
reading_average = exam_data['reading score'].mean()
writing_average = average = exam_data['writing score'].mean()

print('Math Avg: ', math_average)
print('Reading Avg: ', reading_average)
print('Writing Avg: ', writing_average)

Math Avg:  -1.5693175925424186e-16
Reading Avg:  -1.0880185641326534e-16
Writing Avg:  8.881784197001253e-17

### Data Standardization:
Apply scaling on the test scores to express them in terms of <b>z-score</b> <br />
Z-score is the expression of a value in terms of the number of standard deviations from the mean <br />
The effect is to give a score which is relative to the the distribution of values for that column

#### Standardizing Data Using the `preprocessing.scale()`
-----

In [5]:
from sklearn import preprocessing

exam_data[['math score']] = preprocessing.scale(exam_data[['math score']])
exam_data[['reading score']] = preprocessing.scale(exam_data[['reading score']])
exam_data[['writing score']] = preprocessing.scale(exam_data[['writing score']])

/usr/lib/python3/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/lib/python3/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.
  after removing the cwd from sys.path.
/usr/lib/python3/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.
  """

In [6]:
exam_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group E,associate's degree,standard,completed,0.994557,0.574138,1.049901
1,female,group C,associate's degree,free/reduced,none,-0.646391,-0.169564,-0.178476
2,male,group D,bachelor's degree,standard,none,1.493976,0.053547,0.544099
3,female,group A,bachelor's degree,standard,none,0.209756,0.797248,0.688613
4,female,group D,high school,free/reduced,none,-1.145810,0.053547,-0.395248
5,male,group D,some high school,free/reduced,none,-1.145810,-1.508227,-1.840397
6,male,group C,some high school,standard,none,1.565321,0.797248,0.255069
7,male,group C,associate's degree,standard,none,0.637829,0.945989,0.688613
8,female,group B,some high school,standard,none,-1.074464,-1.731338,-1.334595
9,male,group A,some college,standard,none,-1.787920,-3.293112,-3.141031
10,female,group D,some high school,standard,completed,0.209756,0.574138,0.760871
11,female,group B,associate's degree,standard,none,1.208594,1.466580,1.483445
12,male,group A,some high school,standard,none,1.279939,0.871619,0.688613
13,female,group B,high school,standard,completed,-0.646391,-0.095194,0.544099
14,male,group C,high school,standard,none,-0.218317,-0.838896,-0.973308
15,female,group B,master's degree,standard,none,-0.575045,0.053547,0.327326
16,male,group B,high school,standard,none,0.851866,-0.615785,-0.901050
17,female,group C,some college,free/reduced,completed,-1.145810,-0.392675,-0.756535
18,female,group B,associate's degree,standard,completed,-0.432354,-0.020824,0.327326
19,male,group A,some college,free/reduced,none,-0.146972,-1.136376,-1.045565
20,male,group B,some college,standard,none,-0.075626,-0.467045,-0.395248
21,female,group C,master's degree,free/reduced,none,-0.789082,-0.243934,-0.539763
22,male,group C,high school,standard,completed,1.636667,1.020359,1.194416
23,male,group C,associate's degree,standard,none,-0.218317,-0.913266,-1.045565
24,male,group D,bachelor's degree,free/reduced,none,-0.931773,-0.095194,-0.756535
25,male,group B,high school,standard,completed,1.850704,1.392210,1.122158
26,female,group C,high school,free/reduced,none,-2.287338,-1.880078,-1.840397
27,female,group C,associate's degree,free/reduced,none,0.067065,0.648508,0.471841
28,female,group B,some high school,standard,none,-2.287338,-1.508227,-1.984912
29,male,group E,some college,free/reduced,completed,0.637829,0.425397,0.688613
...,...,...,...,...,...,...,...,...
70,female,group E,bachelor's degree,free/reduced,completed,0.209756,0.945989,0.905386
71,male,group C,some high school,free/reduced,none,-0.860427,-1.210747,-1.479110
72,female,group C,some high school,standard,completed,-0.646391,-0.838896,-0.901050
73,male,group C,high school,free/reduced,completed,-0.146972,-0.467045,-0.828793
74,male,group D,some high school,standard,completed,-0.361008,-0.318304,-0.684278
75,male,group D,master's degree,standard,completed,0.352447,0.127917,0.471841
76,male,group B,some college,standard,none,-0.075626,-0.243934,-0.467506
77,female,group C,associate's degree,free/reduced,completed,-0.931773,0.425397,0.110554
78,female,group C,associate's degree,standard,completed,-0.289663,0.648508,0.905386
79,female,group B,high school,standard,completed,-0.146972,0.202287,0.833128
80,male,group D,some college,standard,none,0.637829,0.351027,0.544099
81,male,group C,bachelor's degree,standard,completed,1.279939,1.169099,1.411188
82,male,group C,master's degree,free/reduced,none,0.138410,-0.467045,-0.756535
83,male,group B,high school,free/reduced,completed,-1.288501,-0.690155,-0.973308
84,female,group C,master's degree,free/reduced,none,-0.218317,-0.318304,0.399584
85,male,group C,associate's degree,standard,none,-0.503700,-0.838896,-0.178476
86,female,group B,some college,standard,completed,-0.361008,0.574138,0.544099
87,male,group B,high school,free/reduced,completed,-0.075626,-0.690155,-0.178476
88,female,group D,some college,standard,none,0.923211,1.094729,1.122158
89,female,group C,high school,free/reduced,completed,-0.575045,-0.169564,-0.033961
90,male,group C,high school,standard,completed,2.278777,1.764061,2.133762
91,male,group C,high school,free/reduced,completed,0.495138,0.053547,-0.033961
92,female,group D,some college,standard,none,0.423793,0.722878,0.688613
93,female,group A,master's degree,free/reduced,completed,-1.502537,-0.764526,-0.322991
94,female,group B,some college,standard,none,0.281101,1.615320,1.194416
95,female,group A,master's degree,free/reduced,completed,-0.432354,0.648508,0.977643
96,female,group D,high school,free/reduced,none,-0.361008,-0.392675,-0.395248
97,female,group C,some college,standard,none,0.281101,1.094729,1.194416
98,male,group D,some high school,standard,none,1.708013,1.169099,0.905386
99,female,group A,master's degree,free/reduced,completed,-0.004281,1.540950,1.555703

#### Explore averages after scaling

##### After Scaling: How does this Affect the Mean??
----
After scaling the mean is zero( or almost zero ) and the standard deviation is `1`

In [21]:
math_average = exam_data['math score'].mean()
reading_average = exam_data['reading score'].mean()
writing_average = average = exam_data['writing score'].mean()

print('Math Avg: ', math_average)
print('Reading Avg: ', reading_average)
print('Writing Avg: ', writing_average)

Math Avg:  -1.5693175925424186e-16
Reading Avg:  -1.0880185641326534e-16
Writing Avg:  8.881784197001253e-17

##### Other Scaling Techniques

There are other libraries and trunctions inside of `sklearn` to scale your data and the api documentation is chock full of great recipes

In [ ]:
help(preprocessing)

#### Categorical Data
---
Continuous data can be ordered; not so with categorical data
There is special encoding preprocessing you need to do to data to accomplish this
Numerical encodings should never be ordered


##### `One Hot Hot Encoding` => each value represents on position in the array; 

| thing 1 | thing 2 |
|---|---|
| 1 | 0 |
| 0 | 1 |

### Label Encoding:
Convert text values to numbers. These can be used in the following situations:
* There are only two values for a column in your data. The values will then become 0/1 - effectively a binary representation
* The values have relationship with each other where comparisons are meaningful (e.g. low<medium<high)
* Invoke it with `preprocessing.LabelEncoder()` and use the `fit_transforma()`

In [22]:
help(preprocessing.LabelEncoder.fit_transform)

Help on function fit_transform in module sklearn.preprocessing.label:

fit_transform(self, y)
    Fit label encoder and return encoded labels

    Parameters
    ----------
    y : array-like of shape [n_samples]
        Target values.

    Returns
    -------
    y : array-like of shape [n_samples]

In [8]:
le = preprocessing.LabelEncoder()
exam_data['gender'] = le.fit_transform(exam_data['gender'].astype(str))

In [9]:
exam_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,group E,associate's degree,standard,completed,0.994557,0.574138,1.049901
1,0,group C,associate's degree,free/reduced,none,-0.646391,-0.169564,-0.178476
2,1,group D,bachelor's degree,standard,none,1.493976,0.053547,0.544099
3,0,group A,bachelor's degree,standard,none,0.209756,0.797248,0.688613
4,0,group D,high school,free/reduced,none,-1.145810,0.053547,-0.395248

#### See how the data was transformed by categorical labeling!
---- 
I can still access my category labels using the `classes_`

In [23]:
le.classes_

array(['female', 'male'], dtype=object)

### One-Hot Encoding:
* Use when there is no meaningful comparison between values in the column
* Creates a new column for each unique value for the specified feature in the data set

In [11]:
pd.get_dummies(exam_data['race/ethnicity'])

    group A  group B  group C  group D  group E
0         0        0        0        0        1
1         0        0        1        0        0
2         0        0        0        1        0
3         1        0        0        0        0
4         0        0        0        1        0
5         0        0        0        1        0
6         0        0        1        0        0
7         0        0        1        0        0
8         0        1        0        0        0
9         1        0        0        0        0
10        0        0        0        1        0
11        0        1        0        0        0
12        1        0        0        0        0
13        0        1        0        0        0
14        0        0        1        0        0
15        0        1        0        0        0
16        0        1        0        0        0
17        0        0        1        0        0
18        0        1        0        0        0
19        1        0        0        0        0
20        0        1        0        0        0
21        0        0        1        0        0
22        0        0        1        0        0
23        0        0        1        0        0
24        0        0        0        1        0
25        0        1        0        0        0
26        0        0        1        0        0
27        0        0        1        0        0
28        0        1        0        0        0
29        0        0        0        0        1
..      ...      ...      ...      ...      ...
70        0        0        0        0        1
71        0        0        1        0        0
72        0        0        1        0        0
73        0        0        1        0        0
74        0        0        0        1        0
75        0        0        0        1        0
76        0        1        0        0        0
77        0        0        1        0        0
78        0        0        1        0        0
79        0        1        0        0        0
80        0        0        0        1        0
81        0        0        1        0        0
82        0        0        1        0        0
83        0        1        0        0        0
84        0        0        1        0        0
85        0        0        1        0        0
86        0        1        0        0        0
87        0        1        0        0        0
88        0        0        0        1        0
89        0        0        1        0        0
90        0        0        1        0        0
91        0        0        1        0        0
92        0        0        0        1        0
93        1        0        0        0        0
94        0        1        0        0        0
95        1        0        0        0        0
96        0        0        0        1        0
97        0        0        1        0        0
98        0        0        0        1        0
99        1        0        0        0        0

[100 rows x 5 columns]

#### Include the dummy columns in our data set

In [12]:
exam_data = pd.get_dummies(exam_data, columns=['race/ethnicity'])

In [13]:
exam_data

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E
0,1,associate's degree,standard,completed,0.994557,0.574138,1.049901,0,0,0,0,1
1,0,associate's degree,free/reduced,none,-0.646391,-0.169564,-0.178476,0,0,1,0,0
2,1,bachelor's degree,standard,none,1.493976,0.053547,0.544099,0,0,0,1,0
3,0,bachelor's degree,standard,none,0.209756,0.797248,0.688613,1,0,0,0,0
4,0,high school,free/reduced,none,-1.145810,0.053547,-0.395248,0,0,0,1,0
5,1,some high school,free/reduced,none,-1.145810,-1.508227,-1.840397,0,0,0,1,0
6,1,some high school,standard,none,1.565321,0.797248,0.255069,0,0,1,0,0
7,1,associate's degree,standard,none,0.637829,0.945989,0.688613,0,0,1,0,0
8,0,some high school,standard,none,-1.074464,-1.731338,-1.334595,0,1,0,0,0
9,1,some college,standard,none,-1.787920,-3.293112,-3.141031,1,0,0,0,0
10,0,some high school,standard,completed,0.209756,0.574138,0.760871,0,0,0,1,0
11,0,associate's degree,standard,none,1.208594,1.466580,1.483445,0,1,0,0,0
12,1,some high school,standard,none,1.279939,0.871619,0.688613,1,0,0,0,0
13,0,high school,standard,completed,-0.646391,-0.095194,0.544099,0,1,0,0,0
14,1,high school,standard,none,-0.218317,-0.838896,-0.973308,0,0,1,0,0
15,0,master's degree,standard,none,-0.575045,0.053547,0.327326,0,1,0,0,0
16,1,high school,standard,none,0.851866,-0.615785,-0.901050,0,1,0,0,0
17,0,some college,free/reduced,completed,-1.145810,-0.392675,-0.756535,0,0,1,0,0
18,0,associate's degree,standard,completed,-0.432354,-0.020824,0.327326,0,1,0,0,0
19,1,some college,free/reduced,none,-0.146972,-1.136376,-1.045565,1,0,0,0,0
20,1,some college,standard,none,-0.075626,-0.467045,-0.395248,0,1,0,0,0
21,0,master's degree,free/reduced,none,-0.789082,-0.243934,-0.539763,0,0,1,0,0
22,1,high school,standard,completed,1.636667,1.020359,1.194416,0,0,1,0,0
23,1,associate's degree,standard,none,-0.218317,-0.913266,-1.045565,0,0,1,0,0
24,1,bachelor's degree,free/reduced,none,-0.931773,-0.095194,-0.756535,0,0,0,1,0
25,1,high school,standard,completed,1.850704,1.392210,1.122158,0,1,0,0,0
26,0,high school,free/reduced,none,-2.287338,-1.880078,-1.840397,0,0,1,0,0
27,0,associate's degree,free/reduced,none,0.067065,0.648508,0.471841,0,0,1,0,0
28,0,some high school,standard,none,-2.287338,-1.508227,-1.984912,0,1,0,0,0
29,1,some college,free/reduced,completed,0.637829,0.425397,0.688613,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
70,0,bachelor's degree,free/reduced,completed,0.209756,0.945989,0.905386,0,0,0,0,1
71,1,some high school,free/reduced,none,-0.860427,-1.210747,-1.479110,0,0,1,0,0
72,0,some high school,standard,completed,-0.646391,-0.838896,-0.901050,0,0,1,0,0
73,1,high school,free/reduced,completed,-0.146972,-0.467045,-0.828793,0,0,1,0,0
74,1,some high school,standard,completed,-0.361008,-0.318304,-0.684278,0,0,0,1,0
75,1,master's degree,standard,completed,0.352447,0.127917,0.471841,0,0,0,1,0
76,1,some college,standard,none,-0.075626,-0.243934,-0.467506,0,1,0,0,0
77,0,associate's degree,free/reduced,completed,-0.931773,0.425397,0.110554,0,0,1,0,0
78,0,associate's degree,standard,completed,-0.289663,0.648508,0.905386,0,0,1,0,0
79,0,high school,standard,completed,-0.146972,0.202287,0.833128,0,1,0,0,0
80,1,some college,standard,none,0.637829,0.351027,0.544099,0,0,0,1,0
81,1,bachelor's degree,standard,completed,1.279939,1.169099,1.411188,0,0,1,0,0
82,1,master's degree,free/reduced,none,0.138410,-0.467045,-0.756535,0,0,1,0,0
83,1,high school,free/reduced,completed,-1.288501,-0.690155,-0.973308,0,1,0,0,0
84,0,master's degree,free/reduced,none,-0.218317,-0.318304,0.399584,0,0,1,0,0
85,1,associate's degree,standard,none,-0.503700,-0.838896,-0.178476,0,0,1,0,0
86,0,some college,standard,completed,-0.361008,0.574138,0.544099,0,1,0,0,0
87,1,high school,free/reduced,completed,-0.075626,-0.690155,-0.178476,0,1,0,0,0
88,0,some college,standard,none,0.923211,1.094729,1.122158,0,0,0,1,0
89,0,high school,free/reduced,completed,-0.575045,-0.169564,-0.033961,0,0,1,0,0
90,1,high school,standard,completed,2.278777,1.764061,2.133762,0,0,1,0,0
91,1,high school,free/reduced,completed,0.495138,0.053547,-0.033961,0,0,1,0,0
92,0,some college,standard,none,0.423793,0.722878,0.688613,0,0,0,1,0
93,0,master's degree,free/reduced,completed,-1.502537,-0.764526,-0.322991,1,0,0,0,0
94,0,some college,standard,none,0.281101,1.615320,1.194416,0,1,0,0,0
95,0,master's degree,free/reduced,completed,-0.432354,0.648508,0.977643,1,0,0,0,0
96,0,high school,free/reduced,none,-0.361008,-0.392675,-0.395248,0,0,0,1,0
97,0,some college,standard,none,0.281101,1.094729,1.194416,0,0,1,0,0
98,1,some high school,standard,none,1.708013,1.169099,0.905386,0,0,0,1,0
99,0,master's degree,free/reduced,completed,-0.004281,1.540950,1.555703,1,0,0,0,0

#### Apply one-hot-encoding for remaining non-numeric features

In [14]:
exam_data = pd.get_dummies(exam_data, columns=['parental level of education', 
                                               'lunch', 
                                               'test preparation course'])

#### The data is now ready to be used to train a model

In [15]:
exam_data.head()

,gender,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,1,0.994557,0.574138,1.049901,0,0,0,0,1,1,0,0,0,0,0,0,1,1,0
1,0,-0.646391,-0.169564,-0.178476,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1
2,1,1.493976,0.053547,0.544099,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1
3,0,0.209756,0.797248,0.688613,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1
4,0,-1.145810,0.053547,-0.395248,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1